
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Libre+Franklin:ital,wght@0,300;0,600;1,700&family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Soft-blue: hsl(215, 51%, 70%);
   --Cyan: hsl(178, 100%, 50%);
   /* main bg */
   --Very-dark-blue : hsl(217, 54%, 11%);  
   /* card bg */
   --Very-dark-blue : hsl(216, 50%, 16%);
   /* line */
   --Very-dark-blue : hsl(215, 32%, 27%);
   --White : hsl(0, 0%, 100%);
}

img{
    max-width:100%;
}

ul{
    list-style-type: none;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--Very-dark-blue);
    color: hsl(0, 0%, 100%, 75%);
}




/* !!!!!!!!!!!!!!!!!!!!!!!! just commenting my css */
/* img{
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 100px;
    border-radius: 20px;
    background-color:hsl(216, 50%, 16%);
    outline: none;
}

.container img{
    width: 335px;
    /* margin-top: 21px; */
    /* padding: 10px;
    border-radius: 20px;
} */ */